<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
     <link rel="stylesheet" href="/static/css/style_index.css"> 
</head>
<body>

<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img
                    src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                
            <h3>System Info</h3></a>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
                <a href="/host_details">Details</a>
                
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img
                    src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                
               <h3>Internet Speed Test</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
                <a href="/speed_test"> Speed </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img
                    src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
            
                <h3>Scan network Ports</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
                    <a href="/scan_ports">Scan </a>
            </div>
        </div>
    </div>
</div>

<div id="video-container">
    <video autoplay muted loop id="video-background">
        <source src="/static/img/pexel2.mp4" type="video/mp4">
        Your browser does not support the video tag.
        
    </video>
</div> 

</body>
</html>
