<form method="post" action="/scan_ports">
    <label for="ip_address">Enter IP Address:</label>
    <input type="text" id="ip_address" name="ip_address" required><br><br>
    
    <label for="port_range_choice">Choose Port Range:</label>
    <select id="port_range_choice" name="port_range_choice" onchange="showCustomPorts()">
        <option value="common">Common Ports (1-1023)</option>
        <option value="reserved">Reserved Ports (1024-49151)</option>
        <option value="all">All Ports (1-65535)</option>
        <option value="custom">Custom Range</option>
    </select><br><br>
    
    <div id="custom_ports" style="display: none;">
        <label for="start_port">Start Port:</label>
        <input type="number" id="start_port" name="start_port" min="1" max="65535" required>
        <label for="end_port">End Port:</label>
        <input type="number" id="end_port" name="end_port" min="1" max="65535" required><br><br>
    </div>
    
    <input type="submit" value="Scan Ports">
</form>

<script>
    function showCustomPorts() {
        var selectBox = document.getElementById("port_range_choice");
        var customPortsDiv = document.getElementById("custom_ports");
        
        if (selectBox.value === "custom") {
            customPortsDiv.style.display = "block";
        } else {
            customPortsDiv.style.display = "none";
        }
    }
</script>
